/* ====== GOOGLE FONTS ====== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  /* ===== COLORS ===== */

  --main-color: #010718;
  --primary-color: #4070F4;
  --sec-color: #001C40;
  --text-color: #333;
  --body-color: #F5F5F5;

  /* ===== FONT CONTROLS ===== */

  --regular-font-size: 1.2rem;
  --brand-logo: 1.2rem;
  --heading-font-size: 2.4rem;

  --regular-font: 400;
  --medium-font: 500;
  --semi-bold: 600;
  --bold-font: 700;

  /* ====== TRANSITIONS ===== */

  --body-transition: all 200ms ease;
  --button-transition: 0.15s;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  min-height: 100vh;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: var(--medium-font);
  background-color: var(--body-color);
  transition: var(--body-transition);
}

.navbar {
  width: 100%;
  padding: 10px 30px;
  background-color: var(--main-color);
  margin-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.navbar-brand {
  width: 200px;
  position: relative;
  padding: 0;
}

#brand-logo {
  font-size: var(--brand-logo);
  font-weight: var(--bold-font);
  vertical-align: middle;
  color: #F5F5F5;
}

i {
  font-size: 40px;
  margin-right: 10px;
  color: var(--primary-color);
  vertical-align: middle;
}

.main {
  margin: auto;
  text-align: center;
}

.icon {
  display: inline-block;
}

.heading-container {
  display: inline-block;
  vertical-align: middle;
}

span {
  color: var(--primary-color);
}

.input-field label {
  font-size: 20px;
}

.input-field input {
  width: 60%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 8px 15px;
  border: 3px solid #ccc;
  border-radius: 8px;
  transition: 0.15s;
}

#submit-button {
  padding: 8px 40px;
  background-color: var(--primary-color);
  color: #FFF;
  font-weight: var(--medium-font);
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  transition: 0.15s;
}

#submit-button:active {
  opacity: 0.7;
}


#nameErr {
  color: #e41246;
  font-size: 16px;
}

#text-box {
  width: 100%;
  padding: 5px;
  margin: 5px auto;
  border-radius: 5px;
}

#name {
  margin-top: 3px;
  display: block;
  color: var(--primary-color);
  text-align: center;
  /* margin: 0 5px; */
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--main-color);
  padding: 10px 0;
  color: #F5F5F5;
}

.footer-text {
  text-align: center;
  font-weight: var(--medium-font);
}

.footer-text span {
  color: var(--primary-color);
}












@media only screen and (max-width: 600px) {
  body {
    /* background-color: var(--sec-color); */
    background-color: #F5F6F7;
  }

  .navbar {
    width: 100%;
    position: relative;
    padding: 0;
    background-color: var(--main-color);
    margin-bottom: 20px;
  }

  .container {
    margin: 0 auto;
    width: 90%;
  }

  i {
    font-size: 30px;
    padding: 12px 5px;
    vertical-align: middle;
    color: var(--primary-color);
  }

  #brand-logo {
    font-size: 18px;
  }

  .icon {
    display: inline-block;
  }

  .heading-container {
    display: inline-block;
    vertical-align: middle;
  }

  .heading {
    font-size: 25px;
    vertical-align: middle;
  }

  .heading span {
    color: var(--primary-color);
  }

  .input-field {
    width: 100%;
    /* margin: auto; */
    margin-top: 0;
  }

  .input-field label {
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 20px;
  }
  
  .input-field label span {
    color: var(--primary-color);
  }

  .input-field input {
    width: 80%;
    display: block;
    padding: 8px 15px;
    border: 2px solid #ccc;
    outline: none;
    border-radius: 8px;
    margin: 10px 0;
    transition: 0.15s;
  }

  .input-field #input-text {
    margin-bottom: 0;
  }

  #submit-button {
    padding: 8px 40px;
    background-color: var(--primary-color);
    color: #FFF;
    font-weight: var(--medium-font);
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.15s;
  }

  #submit-button:active {
    opacity: 0.7;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--main-color);
    padding: 10px 0;
    color: #F5F5F5;
  }

  .footer-text {
    text-align: center;
    font-weight: var(--medium-font);
  }
  
  .footer-text span {
    color: var(--primary-color);
  }

  #nameErr {
    color: #e41246;
    font-size: 16px;
  }

  #text-box {
    width: 100%;
    padding: 5px;
    margin: 5px auto;
    border-radius: 5px;
  }

  #name {
    margin-top: 3px;
    display: block;
    color: var(--primary-color);
    text-align: center;
    /* margin: 0 5px; */
  }

  #span {
    color: var(--primary-color);
  }
}