/* ====== GOOGLE FONTS ====== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  /* ===== COLORS ===== */

  --main-color: #010718;
  --primary-color: #4070F4;
  --text-color: #333;

  /* ===== FONT CONTROLS ===== */

  --regular-font-size: 1.2rem;
  --brand-logo: 1.2rem;
  --heading-font-size: 2.4rem;

  --regular-font: 400;
  --medium-font: 500;
  --semi-bold: 600;
  --bold-font: 700;

  /* ====== TRANSITIONS ===== */

  --body-transition: all 200ms ease;
  --button-transition: 0.15s;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {

}

body {
  color: var(--text-color);
  min-height: 100vh;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: var(--medium-font);
  background-color: var(--main-color);
  transition: var(--body-transition);
}

img {
  max-width: 80px;
  vertical-align: middle;
  margin-right: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  padding: 10px 30px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.navbar-brand {
  width: 200px;
  position: relative;
  padding: 0;
}

#brand-logo {
  font-size: var(--brand-logo);
  font-weight: var(--bold-font);
  vertical-align: middle;
}













@media only screen and (max-width: 600px) {
  body {
    background-color: #FFF;
  }

  .navbar {
    width: 100%;
    position: relative;
    padding: 0;
    background-color: var(--main-color);
    margin-bottom: 20px;
  }

  .container {
    margin: auto;
    padding: 0 20px;
  }

  img {
    max-width: 60px;
  }

  #brand-logo {
    font-size: 18px;
  }

  .heading {
    margin-bottom: 0;
    font-size: 30px;
  }

  .heading span {
    color: var(--primary-color);
  }

  .input-field {
    width: 100%;
    margin: auto;
  }

  .input-field label {
    margin-bottom: 15px;
  }
  
  .input-field label span {
    color: var(--primary-color);
  }

  .input-field input {
    padding: 8px 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.15s;
  }

  #submit-button {
    padding: 8px 40px;
    background-color: var(--primary-color);
    color: #FFF;
    font-weight: var(--medium-font);
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.15s;
  }

  #submit-button:active {
    opacity: 0.7;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--main-color);
    color: #f5f5f5;
    padding: 10px 0;
  }

  .footer-text {
    text-align: center;
    font-weight: var(--medium-font);
  }
  
  .footer-text span {
    color: var(--primary-color);
  }
}